<div class="container">
    <h2>Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Description</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

{{#each products}}
<tr>
    <th scope="row"></th>
    <td>{{this.itemName}}</td>
    <td>{{this.itemDesc}}</td>
    <td>{{this.price}}</td>
    <td><img src="/images/product-images/{{this._id}}.jpg" style="max-width: 100px;"></td>
    <td>
        <a href="admin/delete-product/{{this._id}}" class="btn btn-outline-primary me-2">Edit</button>
        <a href="admin/delete-product/{{this._id}}" class="btn btn-outline-danger">Delete</button>
    </td>
</tr>
{{/each}}

            <!-- Add more rows as needed -->
        </tbody>
    </table>
    <a href="/admin/add-products" class="btn btn-success" >Add Product</a>
</div>
